.profile {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
	background: #f2f2f2;
}

.button {
	background: #f12e45;
	padding: 14px 32px;
	font-size: 21px;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
	border: none;
}

.button:hover {
    background: #e70f29;
}

.product-card {
	background: rgba(0,140,255,.1);
}

.product-card-button {
    background: #008cff;
    color: #fff;
    display: inline-block;
    padding: 10px 16px;
    letter-spacing: .15em;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 1;
}

.buttonRise {
	background: #f12e45;
}